BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
ENVIRONMENT=local
JWT_SECRET=0f34f63b-2d37-4561-aeb5-6d18818e131d
JWT_ALG=HS256
JWT_EXPIRES_MIN=43200 # 30 days
COOKIE_NAME=langbridge_token
COOKIE_SECURE=False
OTEL_SDK_DISABLED=true
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=langbridge
POSTGRES_PASSWORD=langbridge
POSTGRES_DB=langbridge
REDIS_HOST=localhost
REDIS_PORT=6379
OTEL_SERVICE_NAME=langbridge
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_SDK_DISABLED=true


SERVICE_USER_SECRET="testing"
